<div class="m-4">
    <form method="POST" >
    <div class="form-group">
        <label for="search-input">Từ khóa</label>
        <input type="text" class="form-control" id="search" placeholder="nhập từ khóa" name="search" >
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>